:root {
	--bar-size-0: calc(1rem * 2.5);
	--color-background-0: #fff;
	--color-text-0: rgb(0 0 0 / 100%);
	--color-text-dim-0: rgb(0 0 0 / 50%);
	--color-border-0: rgb(0 0 0 / 10%);
	--color-primary-0: #000;
	--color-primary-shade-0: #000;
	--color-primary-gradient-0: #000;
	--color-secondary-0: #000;
	--color-secondary-shade-0: #000;
	--color-accent-0: #ddeefd;
	--color-error-0: #f00;
	--color-success-0: #0f0;
	--color-scrollbar-thumb-0: #000;
	--color-scrollbar-track-0: #fff;
}

::selection {
	background-color: var(--color-accent-0);
	color: var(--color-text-0);
}

* {
	scrollbar-width: auto;
	scrollbar-color: var(--color-scrollbar-thumb-0) var(--color-scrollbar-track-0);
	scroll-behavior: smooth;
}

/* Layout */
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: var(--bar-size-0) minmax(0, 1fr) var(--bar-size-0);

	>.start {
		border-bottom: 1px solid var(--color-border-0);
	}

	>.end {
		border-top: 1px solid var(--color-border-0);
	}

	>.content {
		border-left: 1px solid var(--color-border-0);
		border-right: 1px solid var(--color-border-0);

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: var(--bar-size-0) minmax(0, 1fr);

		>.navigation {
			border-bottom: 1px solid var(--color-border-0);

			&.start {
				background-color: red;
			}

			&.middle {
				background-color: green;
			}

			&.end {
				background-color: blue;
			}
		}

		>.body {
			grid-column: 1 / -1;

			padding: 0 25%;

			overflow-y: scroll;
		}
	}

	.sidebar {
		background-color: var(--color-background-0);
	}
}

/* Typography */
body {
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 2.71875rem;
	font-weight: 700;
}

h2 {
	font-size: 2.125rem;
	font-weight: 600;
}

h3 {
	font-size: 1.71875rem;
	font-weight: 500;
}

h4 {
	font-size: 1.4375rem;
	font-weight: 500;
}

h5 {
	font-size: 1.25rem;
	font-weight: 500;
}

h6 {
	font-size: 1.125rem;
	font-weight: 500;
}

p {
	font-size: 1.1rem;
	text-align: justify;
}